<div>
    <div class="row bg-secondary">
        <div class="col-lg-2 border-end">
            <div class=" ps-2 fs-5 p-2">
                <i class="fa-solid fa-house"></i>
                Trang chủ Admin
            </div>
        </div>
        <div class="col-lg-10 ">
            <div class=" p-2">
                <span>Trang chủ</span> >
                <span>Danh mục</span>
            </div>
        </div>
    </div>
    <div class="row pt-2">
        <div class="col-lg-2 border-end fs-5 ps-4">
            <div class="all-house p-2">
                <i class="fa-brands fa-font-awesome "></i>
                <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Danh mục nhà
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div>
            <div class="all-user p-2 ">
                <i class="fa-solid fa-user"></i>
                <a href="" type="button">User</a>
            </div>
        </div>
        <div class="col-lg-10">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td>@twitter</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>